/* ***** PALETA DE COLORES ***** */
/* Acá van los colores personalizados para la página */
/* Para usarlos hay que poner var(--color-elegido) como valor */

:root{
    --color-primero: rgb(164, 216, 213);
    --color-primero-op: rgba(164, 216, 213, 0.75);
    --color-segundo: rgb();
    --color-segundo-op: rgba();
    --color-tercero: rgb();
    --color-tercero-op: rgba();

    --color-fondo: rgb();
    --color-fondo-alt: rgba();

    --color-fuente: rgb(88, 88, 88);

    --color-sombra: rgb(212, 212, 212);
}

/* ***************************** */

.nunito-body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}
  
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eaeaea;
}

.header {
    width: 100%;
    z-index: 1000;
    position: fixed;
    background-color: rgb(164, 216, 213);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px;
}

.nav-links li{
    display: inline-block;
    padding: 0px 10px;
    list-style: none;
    transition: all 0.2s ease-in-out;
}

.nav-links li:hover{
    transform: scale(1.1);
    font-weight: 600;
}
.nav-links a{
    color: #000;
    text-decoration: none;
}

.logo img {
    height: 70px;
    width: auto;
    display: flex;
}

/*********************************************/

.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.busqueda-container{
    width: 100%;
    padding: 80px;
    overflow: hidden;
    background-image: url(https://cdn.pixabay.com/photo/2016/08/11/23/48/mountains-1587287_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-heading {
    color: rgb(255, 255, 255); /* Color blanco */
    text-align: center; /* Alineado a la izquierda */
    font-size: 35px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.10);
}

.company-name {
    color: rgb(255, 255, 255); /* Color negro */
    text-align: center; /* Alineado al centro */
    font-size: 70px;
    font-family: 'Indie Flower', cursive;
    text-shadow: 2px 2px 4px rgba(230, 234, 35, 0.10); 
}
.company-additional {
    color: rgb(254, 254, 254); /* Color negro para la palabra "Hospedajes" */
    font-weight: bold; /* Fuente en negrita para resaltar */
    margin-left: 20px; /* Espacio entre "NaturAlma" y "Hospedajes" */
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.10); 


    transition: all ease-out;
}

.buscador{
    background-color: #eaeaea0c;
    padding: 16px 16px;
    border-radius: 16px;
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    
}
    


.card-header{
    height: 165px;
}

.card-content{
    margin: 16px 16px 12px 16px;
}

.card-footer{
    margin: 12px 16px;
}

.card-item{
    margin: 8px;
    width: 270px;
    min-width: 225px;
    height: 400px;
    border-radius: 16px;
    box-shadow: 5px 5px 15px var(--color-sombra);
    transition: all 200ms ease-out;
}

.card-link{
    text-decoration: none;
    color: #000;
}

.card-item:hover{
    scale: 103%;

}

.card-imagen{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 16px 16px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.card-item div h3{
    margin-top: 0px;
}

.card-item2{
    margin: 8px;
    width: 250px;
    min-width: 225px;
    height: 350px;
    border-radius: 16px;
    border: 1px solid rgb(238, 238, 238);
    box-shadow: 0px 0px 3px var(--color-sombra);
    transition: all 250ms ease-out;
}

.card-item2:hover{
    box-shadow: 0px 0px 15px var(--color-sombra);
    scale: 103%;
}

.card-medio{
    background-color: rgb(198, 255, 243);
    border-radius: 12px;
    padding: 2px 24px;
    font-weight: 600;
    position: relative;
    top: 8%;
}

hr{
    color: #fff;
    margin: 0px 16px;
}

.main-container{
    padding: 0px 0px;
    padding-top: 70px;
}

.main-container div h2{
    padding: 10px 16px;
}
.nosotros-section img {
    width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
    height: 650px; /* La altura se ajustará automáticamente para mantener la proporción */
    display: block; /* Asegura que la imagen se muestre como un bloque */
    margin-bottom: 20px; /* Espacio inferior para separar la imagen del contenido siguiente */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra suave alrededor de la imagen */
    border-radius: 8px; /* Bordes redondeados */
}


.nosotros-section {
    text-align: center; /* Justifica el texto dentro de la sección */
    margin: 25px; /* Centra la sección horizontalmente */
    padding: 20px; /* Añade espacio alrededor del contenido */
    
}

.nosotros-section img {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    display: block; /* Muestra la imagen como un bloque para evitar espacio adicional */
    margin-bottom: 100px; /* Espacio inferior debajo de la imagen */
}

.nosotros-section h1 {
    font-family: "indie flower";
    color: #333; /* Color del título */
    font-size: 32px; /* Tamaño de la fuente del título */
    margin-bottom: 20px; /* Espacio inferior debajo del título */
    max-width: 50;
    text-align: center;
    align-items: center;    
    justify-content: center;    
    flex-direction: column;


}

.nosotros-section p {
    color: #666; /* Color del texto */
    font-size: 18px; /* Tamaño de la fuente del texto */
    line-height: 1.5; /* Altura de línea para el texto */
    
    height: 50;  
    margin-right: 300px;
    margin-left: 300px;  
    text-align: justify;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
}
    


/***********************************/

.footer{
    height: 270px;
    background-color:rgb(164, 216, 213);
}

.texto-redsocial{
    text-align: center;
    padding: 10px;
}

.redsocial-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 20px;
}
    

.redsocial-container a {
    text-decoration: none;
    font-size: 40px;
    width: 150px;
    height: 150px;
    color: #000;
    margin-right: 10px;
    text-align: center;
}

.redsocial-container a:hover{
    transform: scale(1.1);
}

.texto-footer2 a{
    display: flex;
    justify-content: center;
    color: #000;
    text-decoration: none;
}